body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

table th,
table td {
  padding: 1em;
  border: 1px solid #000;
}

table tr:nth-child(2n + 1) {
  background: #efefef;
}

.layer .mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
}

.layer .content {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60%;
  max-height: 80vh;
  padding: 2em;
  margin: 0 auto;
  overflow-y: auto;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background: #fff;
}
